/* universal css */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: content-box; by default */
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif; /* google font */
}
body{
    background-color: #dadada;
}
a{
    text-decoration: none;
    color: inherit;
}
/* ------------------------------------------------------------- */
/* navbar */
nav{
    background-color: #131921;
    padding: 10px 20px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

/* location css */
.nav-location{
    display: flex;
    align-items: end;
    color: #c4c4c4;
    font-size: 13px;
    margin-left: 15px ;
}

.nav-location h1{
    color: #fff;
    font-size: 14px;
}
/* ------------------------------------------------------------- */
/* search bar nav */
.nav-search{
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 900px;
    color: gray;
    background-color: #fff;
    margin-left: 5px;
    border-radius: 4px;
}
.nav-search-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background-color: #e5e5e5;
    border-radius: 4px 0 0 4px;
}

.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}

.nav-search-icon{
    padding: 8px;
    max-width: 43px;
    border-radius: 0 4px 4px 0;
    background-color: #ffd64f;
}

/* ------------------------------------------------------------- */
/* nav language */
.nav-language{
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-left: 15px;
    gap: 2px;
}
/* ------------------------------------------------------------- */
/* nav singin & order */
.nav-text{
    margin-left: 15px;
}
.nav-text p{
    font-size: 10px;
}
.nav-text h1{
    font-size: 14px;
}
/* ------------------------------------------------------------- */
/* cart */
.nav-cart{
    display: flex;
    align-items: center;
    margin: 0 15px;
}
/* ------------------------------------------------------------- */
/* bottom navbar */
.nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #232f3e;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
}   

.nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500 ;
}
/* ------------------------------------------------------------- */
/* slider  */
.main-slider ul{
    display: flex;
    overflow-y: hidden;
}

.main-slider img{
    width: 100%;
}
.main-slider a{
    position: absolute; 
    top: 20%;
    z-index: 1;
    padding: 5vh 1vw;
    background-color: #ffffff4f;
    font-size: 18px;
    cursor: pointer;
}
.control-next{
    right: 0;
}

/* ------------------------------------------------------------- */
/* box 4  */
.box-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
}

.box-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    z-index: 1;
    max-width: 24%;
    min-height: 200px;
    padding: 15px 20px;
}

.box-col a{
    font-size: 14px;
    font-weight: 500;
    color: #009999;
}

.slider-box{
    margin-top: -20%;
}

/* ------------------------------------------------------------- */
/* slider product  */

.product-slider{
    background-color: #fff;
    margin: 0 30px;
    margin-bottom: 15px;
    padding: 20px;
}
.product-slider .products{
    display: flex;
    overflow-x: auto;
    margin-top: 10px;
    gap: 20px;
}
.product-slider .products img{
    max-width: 200px;
    max-height: 200;
}

/* footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 60px;
    background-color: #131921;
    color: #fff;
} */

.footer{
    display: flex;
    background-color: #131921;
    justify-content: space-around;
    color: #fff;
    margin: 5px;
    padding: 20px 60px;
}
.footer h3{
    font-size: 29px;
}

.service, .link{
    display: flex;
    justify-content: center;
    flex-direction: column;
}