div{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
    /* margin: 10px; */
}
/* offsets are not accepted */
#static #middle{
    position: static; /* default only */
    top: 1000px;
    right: 1000px;
}

/* ----------------------------------- */

#relative #middle{
    position: relative;
    /* top: 50px; */
    /* left: 50px; */
}

/* ----------------------------------- */

#absolute #middle{
    position: absolute;
    top: 100px;
    left:  50px;
    
}
/* parent pos os require  */
#absolute{
    position: relative; /** offset will take place from absolute main fiv **/
} 

/* it always takes offset wrt to root element (html) */
#fixed #middle{
    position: fixed;
    top: 0px;
}


#sticky #middle{
    position:  sticky;
    top: 10px;
    left: 500px;
}
#sticky{
    height: 600px;
}